{% extends 'base.html' %}
{% load static %} 
{% load thumbnail %}
{% block content%}

        <!--================Latest Product Area =================-->
        <section class="feature_product_area latest_product_area">
            
        	<div class="main_box">
				<div class="container">
					<div class="feature_product_inner">
                        <h2>{{ title }}</h2>
						<div class="latest_product_inner row">
							<div class="col-lg-3 col-md-4 col-sm-6">
								<div class="f_p_item">
									<div class="f_p_img">
										<div class="f_social">
                                            
											{% for item in items %}
                                              
												{% thumbnail item.photo "280x263" crop="center" upscale=True as im %}
													<img class="card-img my-2" src="{{ im.url }}">
												{% endthumbnail %}
												<ul>
													<li style="display: inline-block; font-family: sans-serif;">
														<h3>  {{ item.name }}</h3>
													</li>
													<li style="display: inline-block; font-family: sans-serif;">
														<h4>${{ item.price }} <h4> 
													</li>
												</ul>
												
											{% endfor %}
											</div>
										<div class="p_icon">
											<a href="#"><i class="lnr lnr-heart"></i></a>
											<a href="#"><i class="lnr lnr-cart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
        	</div>
        </section>
        <!--================End Latest Product Area =================-->
{% endblock %}      