{% extends 'base.html' %}
{% load static %} 
{% load thumbnail %}
{% block content%}
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner d-flex align-items-center">
				<div class="container">
					<div class="banner_content row">
						<div class="col-lg-5">
							<h3>Georgia Helmet <br />Collections!</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
							<a href="{% url 'shop:collection' collection.slug %}">View Collection</a>
						</div>
						<div class="col-lg-7">
							<img src="{% static "img/banner/helmat.png" %}"
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        
        <!--================Latest Product Area =================-->
        <section class="feature_product_area latest_product_area">
        	<div class="main_box">
				<div class="container">
					<div class="feature_product_inner">
						<div class="main_title">
							<h2>Latest Products</h2>
							<p>Who are in extremely love with eco friendly system.</p>
						</div>
						<div class="latest_product_inner row">
							<div class="col-lg-3 col-md-4 col-sm-6">
								<div class="f_p_item">
									<div class="f_p_img">
										<div class="f_social">
											{% for item in items %}
												{% thumbnail item.photo "280x263" crop="center" upscale=True as im %}
													<img class="card-img my-2" src="{{ im.url }}">
												{% endthumbnail %}
												<ul>
													<li style="display: inline-block; font-family: sans-serif;">
														<h3>  {{ item.name }}</h3>
													</li>
													<li style="display: inline-block; font-family: sans-serif;">
														<h4>${{ item.price }} <h4> 
													</li>
												</ul>
												
											{% endfor %}
											</div>
										<div class="p_icon">
											<a href="#"><i class="lnr lnr-heart"></i></a>
											<a href="#"><i class="lnr lnr-cart"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
        	</div>
        </section>
        <!--================End Latest Product Area =================-->
        
        <!--================Clients Logo Area =================-->
        <section class="clients_logo_area">
        	<div class="container">
        		<div class="main_title">
        			<h2>Top Brands of this Month</h2>
        			<p>Who are in extremely love with eco friendly system.</p>
        		</div>
        		<p class="thumb"> 
				
							<img src="{% static "img/clients-logo/c-logo-1.png" %}" alt="">
							<img src="{% static "img/clients-logo/c-logo-2.png" %}" alt="">
							<img src="{% static "img/clients-logo/c-logo-3.png" %}" alt="">
							<img src="{% static "img/clients-logo/c-logo-4.png" %}" alt="">
							<img src="{% static "img/clients-logo/c-logo-5.png" %}" alt="">
				</p>
        			
        		</div>
        	</div>
        </section>
        <!--================End Clients Logo Area =================-->
        
        <!--================Most Product Area =================-->
        <section class="most_product_area">
        	<div class="main_box">
				<div class="container">
					<div class="main_title">
						<h2>Most Searched Products</h2>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>
					<div class="row most_product_inner">
						<div class="col-lg-3 col-sm-6">
							<div class="most_p_list">
								<div class="media">
									<div class="d-flex">
										most search item here
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
        	</div>
        </section>
{% endblock %}      